<section 
	class=" landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color="black"
	>
	<div class="z-30 relative h-full flex flex-col">
        <header class="z-30 relative">
			<h2 class="text-black pt-28 text-[40px] font-medium">Model 3</h2>

            <p class="text-black underline text-[14px]">
                Explorar inventario
            </p>

		</header>

		<footer class="flex flex-grow flex-col justify-end pb-20">
			<div class="flex gap-x-4 mx-auto">
				<a 
                    class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-10 py-1 inline-block hover:bg-gray-500 hover:border-gray-500 transition-colors" href="#"
                >
                    Prueba de conduccion</a
                >

                <a class=" bg-white text-sm rounded font-medium px-10 py-1 text-black hover:text-white hover:bg-black transition-colors justify-center items-center inline-flex" href="#"
                >
                Pedido personalizado</a
                >

			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<img src="/model3.avif" alt="Model 3" class="h-full w-full object-cover object-center">
	</div>div
</section>