<section 
	class=" landing-section bg-black h-screen w-full text-center relative overflow-hidden"
    data-header-color="white"
	>
	<div class="z-30 relative h-full flex flex-col">
        <header class="z-30 relative">
			<h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
			
			<p class="text-white text-sm">
			Programe una prueba de conduccion hoy mismo
			</p>
		</header>

		<footer class="flex flex-grow flex-col justify-end pb-20">
			<div>
				<a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-10 py-1 inline-block text-white hover:text-black hover:bg-white transition-colors" href="#">Prueba de conduccion</a>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video class="object-center object-cover h-full w-full" autoplay muted loop src="/teslademo.webm"></video>
	</div>div
</section> 